<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True" name="ProduktyConnectionString" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <sessionState mode="InProc" timeout="30"></sessionState>
      <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="strona_glowna.html">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin" />
          <user name="olek" password="olek" />
            <user name="olek2" password="olek1234!" />
        </credentials>
      </forms>
      </authentication>
        <roleManager enabled="true" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
