<?xml version="1.0"?>
<configuration>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" defaultUrl="strona_glowna.html">
          <!--<credentials passwordFormat="Clear">
            <user name="admin" password="admin"/>
            <user name="olek" password="olek"/>
          </credentials>-->
        </forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
